 * {
     font-family: Meiryo;
 }

 :root {
     color-scheme: light dark;
     --bg-color-light: #fcfcfc;
     --bg-color-dark: #161923;
     --font-color-light: #292524;
     --font-color-dark: #BCBDD0;
     --highlight-color-light: #597700;
     --highlight-color-dark: #FFCA57;
 }

 body {
     color: light-dark(var(--font-color-light), var(--font-color-dark));
     background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .container {
     width: 420px;
     padding: 20px 24px;
 }

 .control-group {
     display: grid;
     grid-template-columns: 140px 1fr;
     gap: 6px 12px;
     margin-bottom: 20px;
     align-items: center;
 }

 .inline {
     display: flex;
     gap: 4px;
     align-items: center;
 }

 .output-group {
     display: grid;
     grid-template-columns: 1fr auto;
     row-gap: 8px;
     column-gap: 16px;
     font-weight: 600;
 }

 .output-group .val {
     text-align: left;
     font-variant-numeric: tabular-nums;
     color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
 }

 input,
 select {
     margin: 5px;
     color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
 }